@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Kodchasan&family=Mali:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');
@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
 
  font-family: $font-primary;
  color: $font-color;
  background-image: $color-bg;
  transition: color 0.5s, background-color 0.5s;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

