// ! value root
$bg-inside : #196E95;
$font-primary:'Kanit', sans-serif;
$color-bg:linear-gradient(180deg, #18668A 4.23%, #5497B7 50.31%, #18668A 98.56%);
$font-color:#F1FBFF;
$color-fade:rgba(241, 251, 255, 0.8)